ZINIGO_CIVITAI_AUTH=__unset__
ZINIGO_HF_AUTH=__unset__
ZINIGO_FILEBROWSER_AUTH=__unset__
ZINIGO_CIVITAI_LORAS=__unset__
ZINIGO_COMFYUI_EXTRA_ARGS=__unset__

DOWNLOAD_AUTISMMIX_SDXL=false
DOWNLOAD_CYBERREALISTIC_PONY=false
DOWNLOAD_PONY_REALISM=false
DOWNLOAD_CYBERREALISTIC_PONY_SEMI_REALISTIC=false
DOWNLOAD_RI_MIX_ILLUSTRIOUS_ANIMA=false
DOWNLOAD_MIAOMIAO_3D_HAREM=false
DOWNLOAD_BABES=false
DOWNLOAD_REALISM_BY_STABLE_YOGI_PONY=false
DOWNLOAD_4X_ULTRASHARP=false

RUN_STARTUP_VALIDATION=true
FAIL_ON_MODEL_DOWNLOAD_ERROR=true
CUSTOM_NODES_UPDATE_ON_START=false
