CIVITAI_AUTH=__unset__
HUGGINGFACE_AUTH=__unset__
FILEBROWSER_AUTH=__unset__
CIVITAI_LORA_VERSION_IDS=__unset__
COMFYUI_ARGS=__unset__
TEMPLATE_VERSION=v0.1.3-cuda12.8

DOWNLOAD_AUTISMMIX_SDXL_7GB=false
DOWNLOAD_CYBERREALISTIC_PONY_7GB=false
DOWNLOAD_PONY_REALISM_7GB=false
DOWNLOAD_CYBERREALISTIC_PONY_SEMI_REALISTIC_7GB=false
DOWNLOAD_RI_MIX_ILLUSTRIOUS_ANIMA_7GB=false
DOWNLOAD_MIAOMIAO_3D_HAREM_7GB=false
DOWNLOAD_BABES_7GB=false
DOWNLOAD_REALISM_BY_STABLE_YOGI_PONY_7GB=false
DOWNLOAD_4X_ULTRASHARP_64MB=false

RUN_STARTUP_VALIDATION=true
FAIL_ON_MODEL_DOWNLOAD_ERROR=true
CUSTOM_NODES_UPDATE_ON_START=false
